#
# Copyright 2012-2020 The Feign Authors
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
# in compliance with the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software distributed under the License
# is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
# or implied. See the License for the specific language governing permissions and limitations under
# the License.
#

# common executors
executors:
  java:
    docker:
      - image: velo/toolchains-4-ci-builds:with-21

# common commands
commands:
  resolve-dependencies:
    description: 'Download and prepare all dependencies'
    steps:
      - run:
          name: 'Resolving Dependencies'
          command: |
            ./mvnw -ntp dependency:resolve-plugins go-offline:resolve-dependencies -DskipTests=true -B -Pall

  verify-formatting:
    steps:
      - run:
          name: 'Verify formatting'
          command: |
            scripts/no-git-changes.sh
  configure-gpg:
    steps:
      - run:
          name: 'Configure GPG keys'
          command: |
            echo -e "$GPG_KEY" | gpg --batch --no-tty --import --yes
  nexus-deploy:
    steps:
      - run:
          name: 'Deploy Core Modules Sonatype'
          command: |
            ./mvnw -ntp -nsu -s .circleci/settings.xml -P release -pl -:feign-benchmark -DskipTests=true deploy -B -Pall

# our job defaults
defaults: &defaults
  environment:
    # Customize the JVM maximum heap limit
    MAVEN_OPTS: -Xmx3200m

# branch filters
master-only: &master-only
  branches:
    only:
    - master
    - /querydsl-.*/

tags-only: &tags-only
  branches:
    ignore: /.*/
  tags:
    only: /.*/

all-branches: &all-branches
  branches:
    ignore:
    - master
    - /querydsl-.*/
  tags:
    ignore: /.*/

version: 2.1

jobs:
  test:
    <<: *defaults
    working_directory: ~/querydsl
    docker:
      - image: velo/toolchains-4-ci-builds:with-21
      - image: mysql:5.6.38
        environment:
          - MYSQL_ROOT_PASSWORD=querydsl
          - MYSQL_USER=querydsl
          - MYSQL_PASSWORD=querydsl
          - MYSQL_DATABASE=querydsl
      - image: mdillon/postgis:9.3-alpine
        environment:
          - POSTGRES_USER=querydsl
          - POSTGRES_PASSWORD=querydsl
          - POSTGRES_DB=querydsl
      - image: cubrid/cubrid:11.3
        environment:
          - CUBRID_DB=demodb
      - image: gvenzl/oracle-xe:11
        environment:
          - ORACLE_PASSWORD=querydsl
          - APP_USER=querydsl
          - APP_USER_PASSWORD=querydsl
      - image: mongo:3.6.1
      - image: ibmcom/db2:11.5.0.0
        environment:
          - DB2INST1_PASSWORD=a3sd!fDj
          - DB2INSTANCE=db2inst1
          - DBNAME=sample
          - LICENSE=accept
          - ARCHIVE_LOGS=false
          - AUTOCONFIG=false
      - image: jacobalberty/firebird:2.5.9-ss
        environment:
          - ISC_PASSWORD=masterkey
          - FIREBIRD_DATABASE=querydsl.fdb
          - FIREBIRD_USER=querydsl
          - FIREBIRD_PASSWORD=querydsl
      - image: mcr.microsoft.com/mssql/server:2017-latest-ubuntu
        environment:
          - ACCEPT_EULA=Y
          - SA_PASSWORD=Password1!
          - MSSQL_PID=Express

    steps:
      - checkout
      - restore_cache:
          keys:
            - querydsl-dependencies-v2-{{ checksum "pom.xml" }}
            - querydsl-dependencies-v2-
      - setup_remote_docker:
          version: 20.10.23
          docker_layer_caching: true
      - resolve-dependencies
      - save_cache:
          paths:
            - ~/.m2/repository
          key: querydsl-dependencies-v2-{{ checksum "pom.xml" }}
      - run:
          name: 'Test'
          command: |
            ./mvnw -ntp test -B -Pall,travis
      - verify-formatting

  deploy:
    executor:
      name: java
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - querydsl-dependencies-v2-{{ checksum "pom.xml" }}
            - querydsl-dependencies-v2-
      - resolve-dependencies
      - configure-gpg
      - nexus-deploy

workflows:
  version: 2
  build:
    jobs:
      - test:
          name: 'pr-build'
          filters:
            <<: *all-branches

  snapshot:
    jobs:
      - test:
          name: 'snapshot'
          filters:
            <<: *master-only
      - deploy:
          name: 'deploy snapshot'
          requires:
            - 'snapshot'
          context: Sonatype
          filters:
            <<: *master-only

  release:
    jobs:
      - deploy:
          name: 'release to maven central'
          context: Sonatype
          filters:
            <<: *tags-only
