#
# Copyright 2012-2020 The Feign Authors
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
# in compliance with the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software distributed under the License
# is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
# or implied. See the License for the specific language governing permissions and limitations under
# the License.
#

# common executors
executors:
  java:
    docker:
      - image: velo/toolchains-4-ci-builds:with-25

# common commands
commands:
  resolve-dependencies:
    description: 'Download and prepare all dependencies'
    steps:
      - restore_cache:
          keys:
            - m2repo-{{ checksum "pom.xml" }}
      - run:
          name: 'Check if cache was restored'
          command: |
            if [ -d ~/.m2/repository/io/github/openfeign/querydsl ]; then
              echo "Cache hit detected, skipping resolve job."
              circleci step halt
            else
              echo "No cache hit, proceeding with resolve."
            fi
      - run:
          name: 'Resolving Dependencies'
          command: |
            ./mvnw -ntp -B dependency:resolve-plugins go-offline:resolve-dependencies -DskipTests=true

  save-test-results:
    steps:
      - run:
          name: Save package results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - store_test_results:
          path: ~/test-results

  configure-gpg:
    steps:
      - run:
          name: 'Configure GPG keys'
          command: |
            echo -e "$GPG_KEY" | base64 -d | gpg --batch --yes --import

# our job defaults
defaults: &defaults
  environment:
    # Customize the JVM maximum heap limit
    MAVEN_OPTS: -Xmx3200m
    JAVA_HOME: /usr/lib/jvm/java-25-openjdk-amd64

# branch filters
master-only: &master-only
  branches:
    only:
    - master
    - /querydsl-.*/

tags-only: &tags-only
  branches:
    ignore: /.*/
  tags:
    only: /.*/

all-branches: &all-branches
  branches:
    ignore:
    - master
    - /querydsl-.*/
  tags:
    ignore: /.*/

version: 2.1

jobs:
  resolve:
    <<: *defaults
    working_directory: ~/querydsl
    docker:
      - image: velo/toolchains-4-ci-builds:with-25
    steps:
      - checkout
      - resolve-dependencies
      - save_cache:
          paths:
            - ~/.m2/repository
          key: m2repo-{{ checksum "pom.xml" }}
  test:
    <<: *defaults
    working_directory: ~/querydsl
    docker:
      - image: velo/toolchains-4-ci-builds:with-25
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2repo-{{ checksum "pom.xml" }}
      - run:
          name: 'Test'
          no_output_timeout: 60m
          command: |
            ./mvnw -ntp -B verify -Pno-databases
      - save-test-results

  windows:
    machine:
      image: windows-server-2019-vs2019:current # Windows machine image
    resource_class: windows.medium
    environment:
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout
      - restore_cache:
          keys:
            - m2repo-{{ checksum "pom.xml" }}
      - run:
          name: 'Install JDK 25'
          command: |
            $ProgressPreference = 'SilentlyContinue'
            Invoke-WebRequest -Uri "https://api.adoptium.net/v3/binary/latest/25/ga/windows/x64/jdk/hotspot/normal/eclipse?project=jdk" -OutFile "$env:TEMP\jdk.zip"
            Expand-Archive -Path "$env:TEMP\jdk.zip" -DestinationPath "C:\jdk25"
            $jdkDir = Get-ChildItem "C:\jdk25" -Directory | Select-Object -First 1
            [Environment]::SetEnvironmentVariable("JAVA_HOME", $jdkDir.FullName, "Machine")
            Write-Host "JAVA_HOME set to $($jdkDir.FullName)"
            & "$($jdkDir.FullName)\bin\java" -version
          shell: powershell.exe
      - run:
          name: 'Test'
          command: |
            export JAVA_HOME="$(ls -d /c/jdk25/jdk-* | head -1)"
            export PATH="$JAVA_HOME/bin:$PATH"
            java -version
            ./mvnw -ntp -B verify -Pno-databases -Dtoolchain.skip=true
          shell: bash.exe

  buildExamples:
    <<: *defaults
    working_directory: ~/querydsl
    docker:
      - image: velo/toolchains-4-ci-builds:with-25
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2repo-{{ checksum "pom.xml" }}
      - run:
          name: 'Prepare environment'
          command: |
            ./mvnw -ntp -B install -Pquickbuild -pl :querydsl-sql-spring,:querydsl-jpa-spring,:querydsl-kotlin-codegen,:querydsl-mongodb,:querydsl-r2dbc,:querydsl-sql-json -am
      - run:
          name: 'Build and test examples'
          command: |
            ./mvnw -ntp -B install -Pexamples -rf :querydsl-examples
      - save-test-results
  buildQuarkusExample:
    <<: *defaults
    working_directory: ~/querydsl
    docker:
      - image: cimg/base:2022.06
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: 'Test'
          command: |
            cp querydsl-examples/querydsl-example-jpa-quarkus/Dockerfile .
            docker build --progress=plain .
  buildKotlinKspExample:
    <<: *defaults
    working_directory: ~/querydsl
    docker:
      - image: velo/toolchains-4-ci-builds:with-25
    steps:
      - checkout
      - run:
          name: 'Prepare environment'
          command: |
            ./mvnw -N org.codehaus.mojo:properties-maven-plugin:1.2.1:write-project-properties -Dproperties.outputFile=querydsl-examples/querydsl-example-ksp-codegen/gradle.properties
            ./mvnw -ntp -B install -Pquickbuild -pl :querydsl-ksp-codegen,:querydsl-jpa -am
      - run:
          name: 'Build and test examples'
          environment:
            JAVA_HOME: /usr/lib/jvm/java-21-openjdk-amd64
          command: |
            cd querydsl-examples/querydsl-example-ksp-codegen
            ./gradlew --no-daemon --console=plain --info --stacktrace test
      - run:
          name: 'Save test results'
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - store_test_results:
          path: ~/test-results
  testMySQL:
    <<: *defaults
    working_directory: ~/querydsl
    docker:
      - image: velo/toolchains-4-ci-builds:with-25
      - image: mysql:5.6.38
        environment:
          - MYSQL_ROOT_PASSWORD=querydsl
          - MYSQL_USER=querydsl
          - MYSQL_PASSWORD=querydsl
          - MYSQL_DATABASE=querydsl
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2repo-{{ checksum "pom.xml" }}
      - run:
          name: 'Test'
          command: |
            ./mvnw -ntp -B install -Pci -Dgroups=com.querydsl.core.testutil.MySQL
      - save-test-results
  testPostgreSQL:
    <<: *defaults
    working_directory: ~/querydsl
    docker:
      - image: velo/toolchains-4-ci-builds:with-25
      - image: postgis/postgis:16-3.4-alpine
        environment:
          - POSTGRES_USER=querydsl
          - POSTGRES_PASSWORD=querydsl
          - POSTGRES_DB=querydsl
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2repo-{{ checksum "pom.xml" }}
      - run:
          name: 'Test'
          command: |
            ./mvnw -ntp -B install -Pci -Dgroups=com.querydsl.core.testutil.PostgreSQL
      - save-test-results
  testCUBRID:
    <<: *defaults
    working_directory: ~/querydsl
    docker:
      - image: velo/toolchains-4-ci-builds:with-25
      - image: cubrid/cubrid:11.3
        environment:
          - CUBRID_DB=demodb
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2repo-{{ checksum "pom.xml" }}
      - run:
          name: 'Test'
          command: |
            ./mvnw -ntp -B install -Pci -Dgroups=com.querydsl.core.testutil.CUBRID
      - save-test-results
  testOracle:
    <<: *defaults
    working_directory: ~/querydsl
    docker:
      - image: velo/toolchains-4-ci-builds:with-25
      - image: gvenzl/oracle-xe:slim-faststart
        environment:
          - ORACLE_PASSWORD=querydsl
          - APP_USER=querydsl
          - APP_USER_PASSWORD=querydsl
          - TZ=UTC
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2repo-{{ checksum "pom.xml" }}
      - run:
          name: 'Test'
          command: |
            ./mvnw -ntp -B install -Pci -Dgroups=com.querydsl.core.testutil.Oracle
      - save-test-results
  testMongo:
    <<: *defaults
    working_directory: ~/querydsl
    docker:
      - image: velo/toolchains-4-ci-builds:with-25
      - image: mongo:8.0.9
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2repo-{{ checksum "pom.xml" }}
      - run:
          name: 'Test'
          command: |
            ./mvnw -ntp -B install -Pci -Dgroups=com.querydsl.core.testutil.MongoDB
      - save-test-results
  testFirebird:
    <<: *defaults
    working_directory: ~/querydsl
    docker:
      - image: velo/toolchains-4-ci-builds:with-25
      - image: jacobalberty/firebird:v4
        environment:
          - ISC_PASSWORD=masterkey
          - FIREBIRD_DATABASE=querydsl.fdb
          - FIREBIRD_USER=querydsl
          - FIREBIRD_PASSWORD=querydsl
          - TZ=UTC
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2repo-{{ checksum "pom.xml" }}
      - run:
          name: 'Test'
          command: |
            ./mvnw -ntp -B install -Pci -Dgroups=com.querydsl.core.testutil.Firebird
      - save-test-results
  testEmbedded:
    <<: *defaults
    working_directory: ~/querydsl
    docker:
      - image: velo/toolchains-4-ci-builds:with-25
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2repo-{{ checksum "pom.xml" }}
      - run:
          name: 'Test'
          command: |
            ./mvnw -ntp -B install -Pci -Dgroups=com.querydsl.core.testutil.EmbeddedDatabase
      - save-test-results
  testDB2:
    # Use the machine executor so we have full VM capabilities (e.g. docker running as admin)
    machine: true
    working_directory: ~/querydsl
    environment:
      DB2INST1_PASSWORD: a3sd!fDj
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2repo-{{ checksum "pom.xml" }}
      - run:
          name: "Start DB2 container"
          command: |
            docker run -d --privileged --name db2 \
              -p 50000:50000 \
              -e DB2INST1_PASSWORD=a3sd!fDj \
              -e DB2INSTANCE=db2inst1 \
              -e DBNAME=sample \
              -e LICENSE=accept \
              -e ARCHIVE_LOGS=false \
              -e AUTOCONFIG=false \
              ibmcom/db2:11.5.0.0

            echo "Waiting for DB2 to initialize..."
            for i in {1..60}; do
              if docker logs db2 2>&1 | grep -q "All databases are now active"; then
                echo "DB2 appears to be up"
                break
              fi
              echo "Waiting ($i/60)..."
              sleep 10
            done
            docker ps
      - run:
          name: "Run DB2 tests"
          command: |
            docker run --rm \
              --network host \
              -v $(pwd):/code \
              -v ~/.m2:/root/.m2 \
              -w /code \
              -e MAVEN_OPTS=-Xmx3200m \
              -e JAVA_HOME=/usr/lib/jvm/java-25-openjdk-amd64 \
              velo/toolchains-4-ci-builds:with-25 \
              ./mvnw -ntp -B install -Pci -Dgroups=com.querydsl.core.testutil.DB2
      - run:
          name: "Stop and remove DB2 container"
          command: |
            docker stop db2 && docker rm db2
          when: always
      - save-test-results

  deploySnapshot:
    executor:
      name: java
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2repo-{{ checksum "pom.xml" }}
      - configure-gpg
      - run:
          name: 'Deploy Core Modules Sonatype'
          command: |
            ./mvnw -ntp -B -nsu -s .circleci/settings.xml -DskipTests=true deploy -Prelease

  deployRelease:
    executor:
      name: java
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2repo-{{ checksum "pom.xml" }}
      - configure-gpg
      - run:
          name: 'Deploy Core Modules Sonatype'
          command: |
            ./mvnw -ntp -B -nsu -s .circleci/settings.xml -DskipTests=true deploy -Prelease,staging

workflows:
  version: 2
  build:
    jobs:
      - resolve:
          name: 'Resolve dependencies'
          filters:
            <<: *all-branches
      - test:
          name: 'Compile and package (no external databases)'
          requires:
            - 'Resolve dependencies'
          filters:
            <<: *all-branches
      - windows:
          name: 'Compile and package on Windows (no external databases)'
          requires:
            - 'Resolve dependencies'
          filters:
            <<: *all-branches
      - buildExamples:
          name: 'Compile and package Examples'
          requires:
            - 'Resolve dependencies'
          filters:
            <<: *all-branches
      - buildQuarkusExample:
          name: 'Compile and test Quarkus Native Example'
          filters:
            <<: *all-branches
      - buildKotlinKspExample:
          name: 'Compile and test Kotlin KSP Example'
          filters:
            <<: *all-branches
      - testMySQL:
          name: 'Test MySQL'
          requires:
            - 'Resolve dependencies'
          filters:
            <<: *all-branches
      - testPostgreSQL:
          name: 'Test PostgreSQL'
          requires:
            - 'Resolve dependencies'
          filters:
            <<: *all-branches
      - testCUBRID:
          name: 'Test CUBRID'
          requires:
            - 'Resolve dependencies'
          filters:
            <<: *all-branches
      - testOracle:
          name: 'Test Oracle'
          requires:
            - 'Resolve dependencies'
          filters:
            <<: *all-branches
      - testMongo:
          name: 'Test MongoDB'
          requires:
            - 'Resolve dependencies'
          filters:
            <<: *all-branches
      - testFirebird:
          name: 'Test Firebird'
          requires:
            - 'Resolve dependencies'
          filters:
            <<: *all-branches
      - testEmbedded:
          name: 'Test Embedded databases'
          requires:
            - 'Resolve dependencies'
          filters:
            <<: *all-branches
      - testDB2:
          name: 'Test DB2'
          requires:
            - 'Resolve dependencies'
          filters:
            <<: *all-branches

  snapshot:
    jobs:
      - resolve:
          name: 'Resolve dependencies'
          filters:
            <<: *master-only
      - test:
          name: 'snapshot'
          requires:
            - 'Resolve dependencies'
          filters:
            <<: *master-only
      - deploySnapshot:
          name: 'deploy snapshot'
          requires:
            - 'snapshot'
          context: central
          filters:
            <<: *master-only

  release:
    jobs:
      - deployRelease:
          name: 'release to maven central'
          context: central
          filters:
            <<: *tags-only
