name: Dependabot Dependency Submission

on:
  push:
    branches:
      - master
      - querydsl-7.0
  pull_request:
    branches:
      - master
      - querydsl-7.0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Java JDK
      uses: actions/setup-java@v4.0.0
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Submit Dependency Snapshot
      uses: advanced-security/maven-dependency-submission-action@v3
      with:
        maven-args: -Dtoolchain.skip=true
